{% extends "base.html" %}
{% block content %}


<h2>Name: {{ profile.name|title }}</h2>
 <h5>Email: {{ profile.email }}</h5>
 <h5>Age: {{ profile.age }}</h5>
 <h5>Gender: {{ profile.gender|title }}</h5>
 <h5>Hobbies: {{ profile.hobby|title }}</h5>

 <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalDefault">
    Delete
  </button>

 <div class="modal fade" id="exampleModalDefault" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <form method="post" action="">
            {{ form.hidden_tag() }}
            {{ form.delete }}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
